body{
  background-color: #999999;
  font-family:      Verdana, Helvetica, Arial, sans-serif;
  font-size:        big;
  margin:           10px;  
}
p{
  }

#one{
  color:#ff0000;
}

#ph{
  position:fixed;
  z-index:-1;
  }

#photos{
  border-width: 6px;
  border-style:solid;
  border-color:#007e7e;
  width: 200px;
  
  padding-right:    20px;
  padding-bottom:   20px;
  padding-left:     20px;

  margin-left:  20px;
  text-align:  center;

  background-image:  url(images/cocktail.gif);
  background-repeat: repeat-x;

  line-height: 1;/*行高为其字体大小的一倍*/

  float:  right;
}

.album{
    font-style: italic;
}
.songs{
  font-weight:bold;
}

a:link{
  color: #8888FF;
}
a:visited{
  color: #8888FF;
}
a:hover{
  color: #8888FF;
}

a{
  text-decoration:none;
}